h1 {
  text-align: center;
}
h1 span {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  color: aquamarine;
}
body {
  background-color: snow;
}
div {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  padding: 10px;
 

}
img {
  width: 20rem;
  height: 20rem;
  filter: grayscale(80%);
  position: absolute;
  border: aquamarine 10px solid;
  transition: 1s;
  z-index: auto;
  opacity: 0.7;
  border-radius: 15px;
}
#i1 {
  transform: rotate(10deg);
  top: 20rem;
  left: 20rem;
  
  
}
#i2 {
  transform: rotate(15deg);

  
  top: 15rem;
  right: 58rem;
 
}
#i3 {
  transform: rotate(20deg);
 
  top: 10rem;
  right: 40rem;
  
}
#i4 {
  transform: rotate(15deg);
  
  top: 5rem;
  right: 22rem;
  
}

#i1:hover {
  transform: scale(1, 1.2);
  cursor: pointer;
  opacity: 1;
  filter: grayscale(0%);
}

#i2:hover {
  transform: scale(1, 1.2);
  cursor: pointer;
  opacity: 1;
  filter: grayscale(0%);
}
#i3:hover {
  transform: scale(1, 1.2);
  cursor: pointer;
  opacity: 1;
  filter: grayscale(0%);
}
#i4:hover {
  transform: scale(1, 1.2);
  cursor: pointer;
  opacity: 1;
  filter: grayscale(0%);
}
